# Importing Primary Modules

I am making use of the functions I need for this module. I will be making datasets which are a collection of connected information, that can be differenitiated by components. I will also be using mathematical functions, and statistics to determine what Hotel's in America need to work on, or be aware of, in terms of their consumers ratings. The data is pulled from various hotel reviews in three big cities, such as Los Angeles, and New York.

In [ ]:
import numpy as np
import pandas as pd
import math
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

Install the Kaggle Library

In [ ]:
#install Kaggle
!pip install -q kaggle

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"pavithraramakrishnan","key":"5fbc0400e9831ed315ac4f1333c5404c"}'}

In [ ]:
#Create a kaggle folder
! mkdir ~/.kaggle

In [ ]:
#copy the kaggle.json to folder created
! cp kaggle.json ~/.kaggle/

In [ ]:
# Permission for the json to act
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# to list all datasets in kaggle
! kaggle datasets list

ref                                                             title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
--------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
meirnizri/covid19-dataset                                       COVID-19 Dataset                                      5MB  2022-11-13 15:47:17           7384        223  1.0
madhurpant/world-deaths-and-causes-1990-2019                    World Deaths and Causes (1990 - 2019)               442KB  2022-11-29 07:09:27           1423         35  1.0
thedevastator/jobs-dataset-from-glassdoor                       Salary Prediction                                     3MB  2022-11-16 13:52:31           4799        106  1.0
thedevastator/how-much-sleep-do-americans-really-get            How Much Sleep Do Americans Really Get?               8KB  2022-11-25 09:13:12            958         32  1.0
elmoallistair/population-by-age-group-2021                      Population by Age Group                               7KB  2022-11-23 14:50:05            599         22  1.0
die9origephit/fifa-world-cup-2022-complete-dataset              Fifa World Cup 2022: Complete Dataset                 7KB  2022-12-10 12:51:21            735         43  0.9411765
akshaydattatraykhare/data-for-admission-in-the-university       Data for Admission in the University                  4KB  2022-10-27 11:05:45           8422        182  1.0
aguado/bike-rental-data-set-uci                                 Bike Rental Data Set - UCI                          124KB  2022-11-30 10:31:04            869         30  1.0
dbarteaux99/stable-diffusion-1-5                                Stable Diffusion 1.5 (normal and EMAonly) with vae    7GB  2022-10-23 15:40:29            144         20  0.9375
whenamancodes/predict-diabities                                 Predict Diabetes                                      9KB  2022-11-09 12:18:49           5013         93  1.0
prosperchuks/health-dataset                                     Diabetes, Hypertension and Stroke Prediction        597KB  2022-11-23 10:04:03           2154         52  1.0
mvieira101/global-cost-of-living                                Global Cost of Living                                 1MB  2022-12-03 16:37:53           1673         42  0.9705882
thedevastator/cancer-patients-and-air-pollution-a-new-link       Lung Cancer Prediction                               7KB  2022-11-14 13:40:40           3082         70  1.0
thedevastator/nike-usa-products-prices-descriptions-and-custom  Nike Products: Prices, Descriptions, Reviews         47KB  2022-11-28 07:01:00           1369         30  1.0
notshrirang/spotify-million-song-dataset                        Spotify Million Song Dataset                         21MB  2022-11-21 16:48:45           1682         38  1.0
theakhilb/layoffs-data-2022                                     Layoffs Dataset 2022                                101KB  2022-12-08 12:03:06            902         26  1.0
akshaydattatraykhare/diabetes-dataset                           Diabetes Dataset                                      9KB  2022-10-06 08:55:25          22797        584  1.0
catherinerasgaitis/mxmh-survey-results                          Music & Mental Health Survey Results                 22KB  2022-11-21 10:03:12           1789         40  1.0
malayvyas/usa-gdp-dataset-19612021                              USA GDP Growth Dataset 1961-2021                     10KB  2022-12-01 16:10:46            451         25  0.88235295
sulphatet/daily-weather-data-40-years                           daily weather data: 40 years                          1MB  2022-11-30 17:51:22            455         25  0.7647059

In [ ]:
!kaggle datasets download -d thedevastator/sentiment-analyses-of-city-hotels

Downloading sentiment-analyses-of-city-hotels.zip to /content
  0% 0.00/410k [00:00<?, ?B/s]
100% 410k/410k [00:00<00:00, 87.2MB/s]

In [ ]:
!unzip /content/sentiment-analyses-of-city-hotels.zip

Archive:  /content/sentiment-analyses-of-city-hotels.zip
  inflating: la0730.csv
  inflating: la_5keywords.csv
  inflating: la_all.csv
  inflating: la_all_newLabel.csv
  inflating: la_clean_data.csv
  inflating: la_keyword.csv
  inflating: la_nameUrlList.csv
  inflating: la_senti.csv
  inflating: nyc0730.csv
  inflating: nyc_5keywords.csv
  inflating: nyc_all.csv
  inflating: nyc_all_newLabel.csv
  inflating: nyc_clean_data.csv
  inflating: nyc_keyword.csv
  inflating: nyc_senti.csv
  inflating: ol0730.csv
  inflating: ol_5keywords.csv
  inflating: ol_all.csv
  inflating: ol_all_newLabel.csv
  inflating: ol_clean_data.csv
  inflating: ol_keyword.csv
  inflating: ol_nameUrlList.csv
  inflating: ol_senti.csv

# Read the Dataset Using Pandas

Here, I am reading my data contents. I am reading each file of data regarding hotel reviews in major cities as of 2020. After I have read each data file, I will be analyzing them with functions as will be followed below. The Data is seperated by different components as seen on the rows and columns. The ratings are out of 10.

In [ ]:
dataset = pd.read_csv('/content/la0730.csv')
dataset.head()

,name,Zip code,Number of reviewers,Overall score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Terrace,Swimming Pool,very good Fitness Center,Restaurant,Private Beach Area,exceptional Fitness Center,24-Hour Front Desk,WiFi,BBQ Facilities,Dist
0,Sheraton Gateway Los Angeles,90045,"5,663",8.1,8.5,8.4,8.0,7.8,7.4,7.2,...,0,1,0,0,0,0,0,0,0,(11.2 miles from center)
1,The Jeremy Hotel West Hollywood,90069,563,8.9,9.3,9.0,8.7,8.9,8.2,9.5,...,0,1,0,0,0,0,0,0,0,(8.1 miles from center)
2,Hollywood Proper Residences,90028,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,(5.6 miles from center)
3,Hampton Inn & Suites Santa Monica,90401,867,8.3,8.8,8.6,8.2,8.2,7.2,8.4,...,0,1,1,0,0,0,0,0,0,(14.3 miles from center)
4,Spacious Apartment in Westwood UCLA *27,90024,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,(11.8 miles from center)

Note that frequency is, the rate from which repeated occurance is happening. The numbers in frequency show how often consumers put in ratings each row "Leyword" in a certain hotel.

In [ ]:
dataset = pd.read_csv('/content/la_5keywords.csv')
dataset.head()

   Keyword  Frequency                          name
0     room       1249  Sheraton Gateway Los Angeles
1    hotel        735  Sheraton Gateway Los Angeles
2    staff        614  Sheraton Gateway Los Angeles
3  airport        513  Sheraton Gateway Los Angeles
4      bed        478  Sheraton Gateway Los Angeles

In [ ]:
dataset = pd.read_csv('/content/la_all.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Pet Friendly,Elevator,Facilities for Disabled Guests,Bar,Non-smoking Rooms,Restaurant,24-Hour Front Desk,WiFi,Dist,Label
0,Hotel Pennsylvania,10001.0,35615.0,5.6,5.0,4.9,4.7,5.6,5.2,6.3,...,1,0,1,1,1,1,0,0,1.4,1
1,Radisson Martinique on Broadway,10001.0,7925.0,8.2,8.5,8.1,7.9,8.1,7.5,8.5,...,1,0,0,1,1,0,0,0,1.4,0
2,Residence Inn by Marriott New York Manhattan/T...,10018.0,3537.0,8.3,8.2,8.2,8.0,8.4,7.5,8.5,...,1,0,0,1,1,0,0,0,1.1,0
3,MADE Hotel,10001.0,1192.0,9.1,9.4,9.0,8.9,9.4,8.5,9.6,...,1,0,0,1,1,1,0,0,1.6,0
4,LUMA Hotel - Times Square,10018.0,2212.0,9.2,9.5,9.3,9.0,9.3,8.3,9.1,...,0,0,0,1,1,1,0,0,1.0,0

In [ ]:
dataset = pd.read_csv('/content/la_clean_data.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Laundry,Pet Friendly,Outdoor Pool,Facilities for Disabled Guests,Bar,Non-smoking Rooms,Terrace,Swimming Pool,24-Hour Front Desk,Dist
0,Sheraton Gateway Los Angeles,90045.0,5663.0,8.1,8.5,8.4,8.0,7.8,7.4,7.2,...,0,0,0,0,1,1,0,1,0,11.2
1,The Jeremy Hotel West Hollywood,90069.0,563.0,8.9,9.3,9.0,8.7,8.9,8.2,9.5,...,0,1,0,0,1,1,0,1,0,8.1
2,Hampton Inn & Suites Santa Monica,90401.0,867.0,8.3,8.8,8.6,8.2,8.2,7.2,8.4,...,0,0,0,0,0,0,0,1,0,14.3
3,"Beverly Wilshire, A Four Seasons Hotel",90212.0,427.0,8.9,9.1,9.0,8.7,9.2,7.6,8.4,...,0,1,1,0,1,1,0,1,0,8.7
4,The London West Hollywood at Beverly Hills,90069.0,865.0,8.8,9.2,9.1,8.9,8.9,7.9,8.9,...,0,1,0,0,1,1,0,1,0,8.1

In [ ]:
dataset = pd.read_csv('/content/la_keyword.csv')
dataset.head()

  Keyword  Frequency                             name
0    room       1249     Sheraton Gateway Los Angeles
1   hotel        735     Sheraton Gateway Los Angeles
2   staff        614     Sheraton Gateway Los Angeles
3   hotel        147  The Jeremy Hotel West Hollywood
4    room        146  The Jeremy Hotel West Hollywood

In [ ]:
dataset = pd.read_csv('/content/nyc0730.csv')
dataset.head()

,name,Zip code,Number of reviewers,Overall score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Terrace,Swimming Pool,very good Fitness Center,Restaurant,excellent Fitness Center,exceptional Fitness Center,24-Hour Front Desk,WiFi,BBQ Facilities,Dist
0,Hotel Pennsylvania,10001,"35,615",5.6,5.0,4.9,4.7,5.6,5.2,6.3,...,0,0,0,1,0,0,0,0,0,(1.4 miles from center)
1,Radisson Martinique on Broadway,10001,"7,925",8.2,8.5,8.1,7.9,8.1,7.5,8.5,...,0,0,0,0,0,0,0,0,0,(1.4 miles from center)
2,Residence Inn by Marriott New York Manhattan/T...,10018,"3,537",8.3,8.2,8.2,8.0,8.4,7.5,8.5,...,0,0,0,0,0,0,0,0,0,(1.1 miles from center)
3,MADE Hotel,10001,"1,192",9.1,9.4,9.0,8.9,9.4,8.5,9.6,...,0,0,0,1,0,0,0,0,0,(1.6 miles from center)
4,LUMA Hotel - Times Square,-7315,"2,212",9.2,9.5,9.3,9.0,9.3,8.3,9.1,...,0,0,0,1,0,0,0,0,0,(1 miles from center)

In [ ]:
dataset = pd.read_csv('/content/nyc_5keywords.csv')
dataset.head()

    Keyword  Frequency                name
0      room      11936  Hotel Pennsylvania
1  location       6935  Hotel Pennsylvania
2     hotel       6591  Hotel Pennsylvania
3     staff       3110  Hotel Pennsylvania
4       old       3030  Hotel Pennsylvania

In [ ]:
dataset = pd.read_csv('/content/nyc_all.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Pet Friendly,Elevator,Facilities for Disabled Guests,Bar,Non-smoking Rooms,Restaurant,24-Hour Front Desk,WiFi,Dist,Label
0,Hotel Pennsylvania,10001.0,35615.0,5.6,5.0,4.9,4.7,5.6,5.2,6.3,...,1,0,1,1,1,1,0,0,1.4,0
1,Radisson Martinique on Broadway,10001.0,7925.0,8.2,8.5,8.1,7.9,8.1,7.5,8.5,...,1,0,0,1,1,0,0,0,1.4,2
2,Residence Inn by Marriott New York Manhattan/T...,10018.0,3537.0,8.3,8.2,8.2,8.0,8.4,7.5,8.5,...,1,0,0,1,1,0,0,0,1.1,2
3,MADE Hotel,10001.0,1192.0,9.1,9.4,9.0,8.9,9.4,8.5,9.6,...,1,0,0,1,1,1,0,0,1.6,2
4,LUMA Hotel - Times Square,10018.0,2212.0,9.2,9.5,9.3,9.0,9.3,8.3,9.1,...,0,0,0,1,1,1,0,0,1.0,2

In [ ]:
dataset = pd.read_csv('/content/nyc_all_newLabel.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Pet Friendly,Elevator,Facilities for Disabled Guests,Bar,Non-smoking Rooms,Restaurant,24-Hour Front Desk,WiFi,Dist,Label
0,Hotel Pennsylvania,10001.0,35615.0,5.6,5.0,4.9,4.7,5.6,5.2,6.3,...,1,0,1,1,1,1,0,0,1.4,0
1,Radisson Martinique on Broadway,10001.0,7925.0,8.2,8.5,8.1,7.9,8.1,7.5,8.5,...,1,0,0,1,1,0,0,0,1.4,2
2,Residence Inn by Marriott New York Manhattan/T...,10018.0,3537.0,8.3,8.2,8.2,8.0,8.4,7.5,8.5,...,1,0,0,1,1,0,0,0,1.1,2
3,MADE Hotel,10001.0,1192.0,9.1,9.4,9.0,8.9,9.4,8.5,9.6,...,1,0,0,1,1,1,0,0,1.6,2
4,LUMA Hotel - Times Square,10018.0,2212.0,9.2,9.5,9.3,9.0,9.3,8.3,9.1,...,0,0,0,1,1,1,0,0,1.0,2

In [ ]:
dataset = pd.read_csv('/content/nyc_clean_data.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Air Conditioning,Pet Friendly,Elevator,Facilities for Disabled Guests,Bar,Non-smoking Rooms,Restaurant,24-Hour Front Desk,WiFi,Dist
0,Hotel Pennsylvania,10001.0,35615.0,5.6,5.0,4.9,4.7,5.6,5.2,6.3,...,0,1,0,1,1,1,1,0,0,1.4
1,Radisson Martinique on Broadway,10001.0,7925.0,8.2,8.5,8.1,7.9,8.1,7.5,8.5,...,0,1,0,0,1,1,0,0,0,1.4
2,Residence Inn by Marriott New York Manhattan/T...,10018.0,3537.0,8.3,8.2,8.2,8.0,8.4,7.5,8.5,...,0,1,0,0,1,1,0,0,0,1.1
3,MADE Hotel,10001.0,1192.0,9.1,9.4,9.0,8.9,9.4,8.5,9.6,...,0,1,0,0,1,1,1,0,0,1.6
4,LUMA Hotel - Times Square,10018.0,2212.0,9.2,9.5,9.3,9.0,9.3,8.3,9.1,...,0,0,0,0,1,1,1,0,0,1.0

In [ ]:
dataset = pd.read_csv('/content/nyc_keyword.csv')
dataset.head()

    Keyword  Frequency                             name
0      room      11936               Hotel Pennsylvania
1  location       6935               Hotel Pennsylvania
2     hotel       6591               Hotel Pennsylvania
3      room       3986  Radisson Martinique on Broadway
4  location       2722  Radisson Martinique on Broadway

In [ ]:
dataset = pd.read_csv('/content/ol0730.csv')
dataset.head()

,name,Zip code,Number of reviewers,Overall score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Non-smoking Rooms,Terrace,Swimming Pool,very good Fitness Center,Restaurant,excellent Fitness Center,24-Hour Front Desk,WiFi,BBQ Facilities,Dist
0,Universal's Cabana Bay Beach Resort,32819,"7,426",8.9,9.1,8.9,9.0,8.8,8.4,8.7,...,1,0,1,0,0,0,0,0,0,(6.8 miles from center)
1,Eight-Bedroom Villa 8882,34747,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,(17.4 miles from center)
2,Lancaster 251L Eight-Bedroom House,34843,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,(20.5 miles from center)
3,Regal Oaks – The Official CLC World Resort,34746,"3,252",8.8,8.6,9.2,8.9,8.4,8.8,8.3,...,1,0,1,0,0,0,0,0,0,(16.2 miles from center)
4,Magic Village Resort Orlando Near Disney,34747,672,9.1,9.1,9.4,9.1,8.9,8.7,8.9,...,1,0,1,0,0,0,0,0,0,(18.6 miles from center)

In [ ]:
dataset = pd.read_csv('/content/ol_5keywords.csv')
dataset.head()

  Keyword  Frequency                                 name
0    room       1398  Universal's Cabana Bay Beach Resort
1    pool        973  Universal's Cabana Bay Beach Resort
2   hotel        912  Universal's Cabana Bay Beach Resort
3   great        900  Universal's Cabana Bay Beach Resort
4    park        798  Universal's Cabana Bay Beach Resort

In [ ]:
dataset = pd.read_csv('/content/ol_all.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Airport Shuttle,Air Conditioning,Free WiFi.1,Outdoor Pool,Pet Friendly,Bar,Non-smoking Rooms,WiFi,Dist,Label
0,Universal's Cabana Bay Beach Resort,32819.0,7426.0,8.9,9.1,8.9,9.0,8.8,8.4,8.7,...,0,0,1,1,0,1,1,0,6.8,0
1,Regal Oaks – The Official CLC World Resort,34746.0,3252.0,8.8,8.6,9.2,8.9,8.4,8.8,8.3,...,0,0,1,1,0,1,1,0,16.2,0
2,Magic Village Resort Orlando Near Disney,34747.0,672.0,9.1,9.1,9.4,9.1,8.9,8.7,8.9,...,1,0,1,1,0,1,1,0,18.6,0
3,Floridays Resort Orlando Near Disney/Seaworld,32821.0,3719.0,8.5,8.0,8.8,8.5,8.6,8.5,8.1,...,0,0,1,0,1,1,0,0,11.8,0
4,Universal's Hard Rock Hotel,32819.0,2484.0,9.0,9.2,9.3,9.2,9.1,7.9,8.8,...,0,0,1,1,1,1,0,0,6.2,0

In [ ]:
dataset = pd.read_csv('/content/ol_all_newLabel.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Airport Shuttle,Air Conditioning,Free WiFi.1,Outdoor Pool,Pet Friendly,Bar,Non-smoking Rooms,WiFi,Dist,Label
0,Universal's Cabana Bay Beach Resort,32819.0,7426.0,8.9,9.1,8.9,9.0,8.8,8.4,8.7,...,0,0,1,1,0,1,1,0,6.8,0
1,Regal Oaks – The Official CLC World Resort,34746.0,3252.0,8.8,8.6,9.2,8.9,8.4,8.8,8.3,...,0,0,1,1,0,1,1,0,16.2,2
2,Magic Village Resort Orlando Near Disney,34747.0,672.0,9.1,9.1,9.4,9.1,8.9,8.7,8.9,...,1,0,1,1,0,1,1,0,18.6,0
3,Floridays Resort Orlando Near Disney/Seaworld,32821.0,3719.0,8.5,8.0,8.8,8.5,8.6,8.5,8.1,...,0,0,1,0,1,1,0,0,11.8,2
4,Universal's Hard Rock Hotel,32819.0,2484.0,9.0,9.2,9.3,9.2,9.1,7.9,8.8,...,0,0,1,1,1,1,0,0,6.2,0

In [ ]:
dataset = pd.read_csv('/content/ol_clean_data.csv')
dataset.head()

,name,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,...,Parking,Airport Shuttle,Air Conditioning,Free WiFi.1,Outdoor Pool,Pet Friendly,Bar,Non-smoking Rooms,WiFi,Dist
0,Universal's Cabana Bay Beach Resort,32819.0,7426.0,8.9,9.1,8.9,9.0,8.8,8.4,8.7,...,1,0,0,1,1,0,1,1,0,6.8
1,Regal Oaks – The Official CLC World Resort,34746.0,3252.0,8.8,8.6,9.2,8.9,8.4,8.8,8.3,...,0,0,0,1,1,0,1,1,0,16.2
2,Magic Village Resort Orlando Near Disney,34747.0,672.0,9.1,9.1,9.4,9.1,8.9,8.7,8.9,...,0,1,0,1,1,0,1,1,0,18.6
3,Floridays Resort Orlando Near Disney/Seaworld,32821.0,3719.0,8.5,8.0,8.8,8.5,8.6,8.5,8.1,...,1,0,0,1,0,1,1,0,0,11.8
4,Universal's Hard Rock Hotel,32819.0,2484.0,9.0,9.2,9.3,9.2,9.1,7.9,8.8,...,1,0,0,1,1,1,1,0,0,6.2

# Printing Dimensions of the Data Frames together

Using the Pandas DataFrame module I imported at the start, I am now determining the dimensions of our data frame. In this case, the total number of rows and columns are shown (rows, columns). This is for me to be aware of how much data I have to deal with.

In [ ]:
# printing the dimensions of the dataframe
print(dataset.shape)

(317, 25)

# Examining the Type of the column labels in the data frame

Here I am determining whether the data collected is compatible with the functions I will use on it to analyze. Here the function returned the output as "true" which means, I can proceed.

In [ ]:
# examining the types of the column labels
all(isinstance(column, str) for column in dataset.columns)

True



# Calculating the most common values in each Column (all hotels combined)

Here I am calculating the most common data in each column of the datasets, with the mode function. Note that the mode is the number outputted next to "0".

In [ ]:
# mode of Hotel Scores
dataset['Score'].mode()

0    8.7
dtype: float64

The most common score of Hotel's in major cities as of 2020, is 8.7/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content.

In [ ]:
# mode of  Facilities Ratings
dataset['Facilities'].mode()

0    8.5
dtype: float64

The most common score of Facilities in Hotel's in major cities as of 2020, is 8.5/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content.

In [ ]:
# mode of  Cleanliness Ratings
dataset['Cleanliness'].mode()

0    8.7
dtype: float64

The most common score of Cleanliness of Hotel's in major cities as of 2020, is 8.7/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content.

In [ ]:
# mode of  Comfort Ratings
dataset['Comfort'].mode()

0    8.8
dtype: float64

The most common score of Comfort of Hotel's in major cities as of 2020, is 8.8/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content

In [ ]:
# mode of Staff Ratings
dataset['Staff'].mode()

0    8.6
dtype: float64

The most common score of Staff of Hotel's in major cities as of 2020, is 8.6/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content

In [ ]:
# mode of Value for money Ratings
dataset['Value for money'].mode()

0    8.5
dtype: float64

The most common score of Value for Money, meaning how worthy of their money consumers think of Hotel's in major cities as of 2020, is 8.5/10. This is a high rating, meaning hotel's are doing proficient jobs in relation to their consumers content

In [ ]:
# mode of Value for Free Wifi Ratings
dataset['Free WiFi'].mode()

0    10.0
dtype: float64

The most common score of Free Wifi Ratings of Hotel's in major cities as of 2020, is 10/10. This is a high rating, it is a full score, meaning hotel's are doing excellent jobs in relation to their consumers content

# Calculating the average values in each Column (all hotels combined)

Here I am calculating the average data in each column of the datasets, with the mean function.

In [ ]:
# calculation of the mean (e.g. for Hotel Score Rankings) and round the result
round(dataset["Score"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Score is {dataset["Score"].mean()}')

The mean of Score is 8.552681388012617

The average common score Ratings of Hotel's in major cities as of 2020, is around 8.6/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Facility Rankings) and round the result
round(dataset["Facilities"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Facilities is {dataset["Facilities"].mean()}')

The mean of Facilities is 8.4602523659306

The average common score of Facilities of Hotel's in major cities as of 2020, is around 8.5/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Cleanliness Rankings) and round the result
round(dataset["Cleanliness"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Cleanliness is {dataset["Cleanliness"].mean()}')

The mean of Cleanliness is 8.528075709779179

The average common score of Cleanliness of Hotel's in major cities as of 2020, is around 8.5/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Comfort Rankings) and round the result
round(dataset["Comfort"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Comfort is {dataset["Comfort"].mean()}')

The mean of Comfort is 8.635646687697161

The average common score of Comfort of Hotel's in major cities as of 2020, is around 8.6/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Staff Rankings) and round the result
round(dataset["Staff"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Staff is {dataset["Staff"].mean()}')

The mean of Staff is 8.51955835962145

The average common score of Staff of Hotel's in major cities as of 2020, is around 8.5/10.  This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Value For Money Rankings) and round the result
round(dataset["Value for money"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Value for money is {dataset["Value for money"].mean()}')

The mean of Value for money is 8.299684542586752

The average common score of Value for money- meaning consumers thought of how worth their money for the hotel was, of Hotel's in major cities as of 2020, is around 8.3/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the mean (e.g. for Hotel Value For Free Wifi Rankings) and round the result
round(dataset["Free WiFi"].mean(), 2)
# use a function to print a text with the output
print(f'The mean of Free WiFi is {dataset["Free WiFi"].mean()}')

The mean of Free WiFi is 8.462460567823344

The average common score of Free Wifi of Hotel's in major cities as of 2020, is around 8.5/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

# Calculating the middle values in each Column (all hotels combined)

Here I am calculating the middle values in each column of the datasets, with the median function.

In [ ]:
# calculation of the median (e.g. for Hotel Scores)
dataset["Score"].median()
# use a function to print a text with the output
print(f'The median of Score is {dataset["Score"].median()}')

The median of Score is 8.7

The median score of Hotel's in major cities as of 2020, is 8.7/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Facilities)
dataset["Facilities"].median()
# use a function to print a text with the output
print(f'The median of Facilities is {dataset["Facilities"].median()}')

The median of Facilities is 8.6

The median score of Facilities of Hotel's in major cities as of 2020, is 8.6/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Cleanliness)
dataset["Cleanliness"].median()
# use a function to print a text with the output
print(f'The median of Cleanliness is {dataset["Cleanliness"].median()}')

The median of Cleanliness is 8.7

The median score of Cleanliness of Hotel's in major cities as of 2020, is 8.7/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Comfort)
dataset["Comfort"].median()
# use a function to print a text with the output
print(f'The median of Comfort is {dataset["Comfort"].median()}')

The median of Comfort is 8.8

The median score of Comfort of Hotel's in major cities as of 2020, is 8.8/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Comfort)
dataset["Staff"].median()
# use a function to print a text with the output
print(f'The median of Staff is {dataset["Staff"].median()}')

The median of Staff is 8.6

The median score of Staff of Hotel's in major cities as of 2020, is 8.6/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Hotel Value for money Rankings)
dataset["Value for money"].median()
# use a function to print a text with the output
print(f'The median of Value For Money is {dataset["Value for money"].median()}')

The median of Value For Money is 8.3

The median score of Value For Money - meaning how the consumers thought of their money in relation to investing in the Hotel, of Hotel's in major cities as of 2020, is 8.3/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

In [ ]:
# calculation of the median (e.g. for Hotel Free WiFi Rankings)
dataset["Free WiFi"].mean()
# use a function to print a text with the output
print(f'The median of Free Wifi is {dataset["Free WiFi"].median()}')

The median of Free Wifi is 8.5

The median score of Free WiFi of Hotel's in major cities as of 2020, is 8.5/10. This is a high rating, meaning hotel's are doing sufficient jobs in relation to their consumers content

# Measures of dispersion

Measures of dispersion represent the spread of data. This consists of range, quantile range, and standard deviation functions as can be seen below. I will be using these functions to give reccomendations to hotels and argue about how they need to fix this in order for consumer's to be content.

In [ ]:
# quantiles
dataset['Free WiFi'].quantile([.25, .5, .75])

0.25    8.0
0.50    8.5
0.75    9.1
Name: Free WiFi, dtype: float64

Here, I found the quartile values for quartile 1,2,3- the values from which under 25% of the data points are found, as well as 50% and 75% of the data.

In [ ]:
# Range
dataset['Free WiFi'].max() - dataset['Free WiFi'].min()

7.5

I tested a sample of the range function to find the value of the most maximum value minus the minimum value in "Free WiFi" as an example. This will be used for all of the data.

In [ ]:
# standard deviation
round(dataset['Free WiFi'].std(),2)

1.01

Here, I found the quantity of indication of deviation for the "Free WiFi" group as a sample data to use it on the rest of the data too.

In [ ]:
# summary statistics for all numerical columns
round(dataset.describe(),2)

,Zip code,numRev,Score,Cleanliness,Comfort,Facilities,Staff,Value for money,Free WiFi,Location,...,Parking,Airport Shuttle,Air Conditioning,Free WiFi.1,Outdoor Pool,Pet Friendly,Bar,Non-smoking Rooms,WiFi,Dist
count,317.00,317.00,317.00,317.00,317.00,317.00,317.00,317.0,317.00,317.00,...,317.00,317.00,317.00,317.00,317.00,317.00,317.00,317.00,317.00,317.00
mean,33455.74,848.71,8.55,8.53,8.64,8.46,8.52,8.3,8.46,8.21,...,0.22,0.06,0.06,0.93,0.63,0.23,0.48,0.69,0.06,40.64
std,905.69,1155.98,0.63,0.77,0.73,0.79,0.67,0.7,1.01,1.75,...,0.42,0.24,0.24,0.25,0.48,0.42,0.50,0.46,0.23,258.08
min,32701.00,5.00,5.00,4.50,4.90,4.30,5.80,4.9,2.50,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.70
25%,32819.00,25.00,8.20,8.10,8.20,8.00,8.20,7.9,8.00,8.40,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,8.10
50%,32822.00,390.00,8.70,8.70,8.80,8.60,8.60,8.3,8.50,8.80,...,0.00,0.00,0.00,1.00,1.00,0.00,0.00,1.00,0.00,11.80
75%,34747.00,1130.00,9.00,9.00,9.10,9.00,8.90,8.8,9.10,9.10,...,0.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,0.00,18.00
max,34761.00,7426.00,9.90,10.00,10.00,10.00,10.00,10.0,10.00,10.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,2950.00

Here, is all the statistics for the entirety of the Hotel Review Data throughout 2020, in 3 major cities at America. I have come up with the overall count of data I have for each column, the mean, standard deviation (std), minimum valies, maximum values and quartile ranges.

Now I can compare and contrast data. I will do so for the main categories of score, cleanliness, comfort, facilities, staf, value for money, free wifi, and location as these are the top columns shown in the datasets so far. The average Hotel Scores were 8.55/10, while the minimum were 5/10, and maximum were 9.9/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 5/10 and to get a full score at the maximum which is now a 9.9/10. The average Cleanliness of Hotels were rated an 8.53/10, while the maximum was 10/10, and minimum was 4.5/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 4.5/10 which is below average, but some hotels are doing good reaching the maximum of 10/10. The average of Comfort of hotels was 8.64/10, the minimum being 4.9/10, and maximum being 10/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 4.9/10 which is below average, but some hotels are doing good reaching the maximum of 10/10. The average of Facilities of hotels was 8.46/10, the minimum being 4.3/10, and maximum being 10/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 4.3/10 which is below average, but some hotels are doing good reaching the maximum of 10/10. The average of Staff of hotels was 8.52/10, the minimum being 5.8/10, and maximum being 10/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 5.8/10 which is a little above the average, but some hotels are doing good reaching the maximum of 10/10. The average of Value For Money of hotels was 8.3/10, the minimum being 4.9/10, and maximum being 10/10. This shows that hotels need to work a bit harder to exceed the average score at the minimum value of 4.9/10 which is below average, but some hotels are doing good reaching the maximum of 10/10. The average of Free WiFi was 8.46/10, the minimum being 2.50/10, and maximum being 10/10. This shows that hotels need to work much harder to exceed the average score at the minimum value of 2.50/10 which is very below average, but some hotels are doing good reaching the maximum of 10/10. The average of location of hotels was 8.21/10, the minimum being 1/10, and maximum being 10/10. This shows that hotels need to work very much harder to exceed the average score at the minimum value of 1/10 which is the lowest below average score, but some hotels are doing good reaching the maximum of 10/10.

These hotels need to focus the most on their location, because it has the lowest everage rating from consumers. If consumers do not feel safe or close to their desintation then it is a requirement hotels need to consider, as it can plummet their market. Ratings of 1/10 in major cities, cater to the term of "bad value for money" and does not do justice to the consumers who pay these hotels. Hotels need to reavulaute their location and strive for above average minimum values espeicllay at big cities, so people can have the best experience as well as pay for what they think the hotels cater. Misrepresentation is not good, and these reccommendations I give are for the best accuracy of service the hotels should be aware about and strive to change further.